.widget__field__message {
  width: 60%;
  background-color: aliceblue;
  margin-left: auto;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.message__controll {
  display: flex;
  justify-content: flex-end;
}

.message__text {
  word-wrap: break-word;
  /* word-break: break-all; */
}

.message__info {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.message__controll__star,
.message__controll__pen,
.message__controll__delete {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: calc(var(--width-icons) / 3);
  height: calc(var(--width-icons) / 3);
  margin-right: 10px;
  cursor: pointer;
}

.message__controll__star {
  background-image: url('../../../../img/icons/star.svg');
}

.message__controll__star.active {
  background-image: url('../../../../img/icons/star-active.svg');
}

/* .message__controll__star:hover {
  background-image: url('../../../../img/icons/star-hover.svg');
} */

.message__controll__pen {
  background-image: url('../../../../img/icons/pencil.svg');
}

.message__controll__pen:hover {
  background-image: url('../../../../img/icons//pencil-hover.svg');
}

.message__controll__delete {
  background-image: url('../../../../img/icons/delete2.svg');
}

.message__controll__delete:hover {
  background-image: url('../../../../img/icons/delete-hover2.svg');
}

.coords__link {
  width: calc(var(--width-icons) / 3);
  height: calc(var(--width-icons) / 3);
  background-image: url('../../../../img/icons/geolocation.svg');
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  vertical-align: middle;
}

.coords__link:hover {
  background-image: url('../../../../img/icons/geolocation-hover.svg');
}

.message__video {
  margin: 5px 0px;
  width: calc(var(--width-icons) * 6);
}

.message__image {
  margin: 5px auto;
  max-width: calc(var(--width-icons) * 6);
  max-height: calc(var(--width-icons) * 6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
