[data-type="background-recordModal"] {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.popup__title__context {
  margin-top: 10px;
}

.popup__media__box {
  margin: 10px auto;
}

.media__box__background {
  background-image: url('../../../../../img/icons/audio-pink.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(var(--width-icons) * 2);
  width: calc(var(--width-icons) * 9);
}

.video__box {
  width: calc(var(--width-icons) * 9);
}

.popup__control__record {
  margin-left: auto;
  margin-right: auto;
}
