.widget {
  border: 1px solid black;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-image: url('../../../img/space/theme3.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.widget__content {
  width: 100%;
  height: 100%;
}

.widget__header,
.widget__field,
.widget__footer,
.widget__menu {
  position: absolute;
}

.widget__header {
  height: var(--width-icons);
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 15px 15px 0px 0px;
  border: solid black;
  border-width: 0px 0px 1px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.header__avatar,
.footer__smiles,
.controll__search,
.controll__menu,
.menu__avatar {
  background-repeat: no-repeat;
  background-position: center;
}

.header__avatar {
  width: calc(var(--width-icons) - 10px);
  height: calc(var(--width-icons) - 10px);
  border-radius: 50%;
  background-color: lightgreen;
  border: 1px solid black;
  background-image: url('../../../img/icons/avatar.svg');
  background-size: cover;
}

.header__title {
  flex-grow: 1;
  margin-left: 10px;
  font-size: 2em;
  font-weight: 700;
  user-select: none; /* отключение выделения текста двойным щелчком */
}

.header__controll {
  height: calc(var(--width-icons) - 10px);
  display: flex;
  align-items: stretch;
}

.controll__search {
  width: var(--width-icons);
  background-image: url('../../../img/icons/search.svg');
  background-size: contain;
  cursor: pointer;
}

.controll__search:hover {
  background-image: url('../../../img/icons/search-hover.svg');
}

.controll__menu {
  width: var(--width-icons);
  background-image: url('../../../img/icons/menu.svg');
  background-size: contain;
  cursor: pointer;
}

.controll__menu__active {
  background-image: url('../../../img/icons/menu-hover.svg');
  border: 5px solid var(--color-hover);
  border-radius: 10px;
}

.controll__menu:hover {
  background-image: url('../../../img/icons/menu-hover.svg');
}

.controll__menu__active:hover {
  background-image: url('../../../img/icons/menu.svg');
}

.widget__field {
  top: var(--width-icons);
  left: 10px;
  right: 10px;
  bottom: var(--width-icons);
  overflow-y: auto; /* Включаем скролл если блок переполнен */
  transition: right 0.5s ease-in-out; /* Анимация по одному параметру (1-й вариант) */
}

.widget__field__mini {
  right: calc(var(--width-size) - 70%);
}

.widget__field .widget__field__message:last-child { /* Добавляем отступ последнему элементу*/
  margin-bottom: 10px;
}

.widget__menu {
  overflow: hidden; /* Скрывает все выходящее за пределы */
  top: var(--width-icons);
  left: 100%;
  right: 0px;
  bottom: var(--width-icons);
  background-color: white;
  border-left: 0px solid black;
  transition: left 0.5s ease-in-out; /* Анимация по одному параметру (1-й вариант) */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.widget__menu__active {
  left: calc(var(--width-size) - 30%);
  border-width: 1px;
}

.menu__avatar {
  width: 100%;
  background-color: rgb(44, 156, 72);
  height: calc(var(--width-icons)*4);
  background-image: url('../../../img/icons/avatar-man.svg');
  background-position: center;
}

.controll__favorites,
.controll__files {
  overflow: hidden;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  margin: 10px 10px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.favorites__active,
.controll__files__active {
  background-color: lightgreen;
}

.controll__favorites:hover,
.controll__files:hover {
  background-color: var(--color-hover);
}

.controll__favorites:active,
.controll__files:active {
  opacity: 0.8;
}

.controll__favorites__context {
  white-space: nowrap;
}

.field__fiels {
  background-color: rgb(199, 214, 66);
  flex-grow: 1;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.field__fiels__title {
  text-align: center;
  margin-bottom: 10px;
}

.content__type__all {
  font-weight:600;
}

.content__type__fiels {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content__type__text {
  margin-left: 10px;
}

.content__type__img {
  width: calc(var(--width-icons)/3);
  height: calc(var(--width-icons)/3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img__video {
  background-image: url('../../../img/icons/camera.svg');
}

.img__audio {
  background-image: url('../../../img/icons/micro.svg');
}

.img__image {
  background-image: url('../../../img/icons/image.ico');
}

.img__files {
  background-image: url('../../../img/icons/files.svg');
  background-size: 140%;
}

.img__links {
  background-image: url('../../../img/icons/links.png');
}

.widget__footer {
  height: var(--width-icons);
  background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0px 0px 15px 15px;
  border: solid black;
  border-width: 1px 0px 0px;
  display: flex;
}

.footer__form {
  flex-grow: 1;
  display: flex;
  padding: 5px;
}

.footer__form__input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid blue;
  border-radius: 5px;
}

.footer__media {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  padding-right: 5px;
}

.form__media__input {
  position: relative;
  width: calc(var(--width-icons) - 10px);
  margin: 12px 0px;
}

.field__input {
  display: none;
}

.media__files {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.media__audio,
.media__video {
  width: calc(var(--width-icons) - 10px);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.media__files {
  background-image: url('../../../img/icons/paperclip.svg');
}

.media__files:hover {
  background-image: url('../../../img/icons/paperclip-hover.svg');
}

.media__audio {
  background-image: url('../../../img/icons/micro.svg');
  margin: 5px 0px;
}

.media__audio:hover {
  background-image: url('../../../img/icons/micro-hover.svg');
}

.media__video {
  background-image: url('../../../img/icons/camera.svg');
  margin: 10px 0px;
}

.media__video:hover {
  background-image: url('../../../img/icons/camera-hover.svg');
}

.footer__smiles {
  position: relative;
}

.footer__smiles {
  width: var(--width-icons);
  background-image: url('../../../img/icons/smile.svg');
  background-size: contain;
  margin: 10px;
}

.footer__smiles__active {
  border: 4px solid var(--color-hover);
  margin: 6px;
  border-radius: 10px;
  box-sizing: content-box;
  background-color: rgb(253, 255, 127);
}

.box__smiles__conteiner {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  top: calc(0px - (var(--width-icons)*3) - 15px);
  left: 0;
  width: calc(var(--width-icons)*3.1);
  height: calc(var(--width-icons)*3);
  overflow-y: auto;
}

/* Define the scrollbar style */
.box__smiles__conteiner::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* Define the thumb style */
.box__smiles__conteiner::-webkit-scrollbar-thumb {
   /* background: linear-gradient(to bottom right, #4d7fff 0%, #1a56ff 100%); */
   background: grey;
   border-radius: 4px;
}

/* Define the track style */
.box__smiles__conteiner::-webkit-scrollbar-track:horizontal {
  background-color: white;
  box-shadow: inset 0 0 2px 2px gainsboro;
}

.smile__item {
  display: inline-block;
}

.smile__item:hover {
  border-radius: 5px;
  background-color: var(--color-hover);
}