<div class="widget">
  <div class="widget__content">
    <div class="widget__header">
      <div class="header__avatar"></div>
      <div class="header__title">Bot-meneger</div>
      <div class="header__controll">
        <div class="controll__search"></div>
        <div class="controll__menu"></div>
      </div>
    </div>
    <div class="widget__field"></div>
    <div class="widget__footer">
      <div class="footer__smiles"></div>
      <form class="footer__form">
        <input class="footer__form__input" type="text" placeholder="Напишите свое сообщение здесь" name="content">
      </form>
      <div class="footer__media">
        <div class="media__files"></div>
        <div class="media__audio"></div>
        <div class="media__video"></div>
      </div>
    </div>
  </div>
  
</div>