[data-type="background__geoModal"] {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.popup__geolocation {
  width: calc(var(--width-icons) * 6);
}

.popup__control__geo {
  text-align: right;
}

.geo__btn__ok {
  margin-left: 10px;
}
