* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width-icons: 60px;
  --width-size: 900px;
  --color-hover: #1cacbd;
}

body {
  font-family: sans-serif;
  background-color: aquamarine;
  padding-top: 10px;
  cursor: default;
}

.container {
  width: var(--width-size);
  height: 90vh;
  margin: 10px auto;
}
